@page
@model IndexModel
@{
    ViewData["Title"] = "RSS фидер";
}

<h1>Rss фидер</h1>
<h1>Настройки</h1>
<form method="post">
    <div>
        <input type="text" asp-for="RssUrl" placeholder="Enter RSS URL" />
        <button type="submit">Load RSS</button>
    </div>
</form>

@if (Model.RssItems != null && Model.RssItems.Any())
{
    <ul>
        @foreach (var item in Model.RssItems)
        {
            <li>
                <h2><a href="@item.Link" target="_blank">@item.Title</a></h2>
                <p><strong>Дата публикации:</strong> @item.PubDate.ToString("dd MMMM yyyy HH:mm")</p>
                <p><strong>Описание:</strong> @Html.Raw(item.Description)</p>
            </li>
        }
    </ul>
}
else
{
    <p>Элементы не найдены или невозможно загрузить RSS-канал.</p>
}